* {
    background:beige;
  }
  
  #italic{
    color:crimson;
  }
  
  #hi{
    color:deeppink;
  }
  
  #st{
    color:darkorchid;
  }
  
  #sst{
    color:cornflowerblue;
  }
  
  #ssst{
    color:paleturquoise;
  }
  
  #all{
    color:midnightblue;
  }
  